@model BudgetManager.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Recover Password</h2>
@section headerLinks
                {
    <li>@Html.ActionLink("Home", "Home", "Account")</li>
    <li>@Html.ActionLink("Log In", "Login", "Account")</li>
    <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
}
@Html.Partial("_validationSummary")

@using (Html.BeginForm("forgotpassword", "Account", null, FormMethod.Post, htmlAttributes: new { id = "form1", @class = "form-horizontal logInForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <div class="col-sm-4">
            <span class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", id = "userid", placeholder = "Enter your Email Id to recover" })
            </span>
            <p class="text-danger bg-primary">
                @Html.ValidationMessageFor(m => m.email)
            </p>
        </div>
        <div class="col-sm-4">
            <input type="submit" value="Recover password" class="btn btn-primary" />
        </div>
    </div>                    
    @Html.ActionLink("Try Logging in again", "LogIn", "Account", null, null)
}