@model AccountSettingsViewModel
<div class="space-10"></div>

<div class="control-group">
    @Html.LabelFor(password => password.CurrentPassword, htmlAttributes: new { @class = "control-label", @for = "form-field-website" })

    <div class="controls">
        @Html.PasswordFor(password => password.CurrentPassword)
        @Html.ValidationMessageFor(password => password.CurrentPassword)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(password => password.NewPassword, htmlAttributes: new { @class = "control-label", @for = "form-field-website" })

    <div class="controls">
        @Html.PasswordFor(password => password.NewPassword)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(password => password.ConfirmPassword, htmlAttributes: new { @class = "control-label", @for = "form-field-website" })

    <div class="controls">
        @Html.PasswordFor(password => password.ConfirmPassword)
        @Html.ValidationMessageFor(password => password.ConfirmPassword)

    </div>
</div>

